.bottomBorder {
    border-bottom: 2px solid black;
}

.firstColFont {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.firstCol {
    border-right: 2px solid black;
}

#verzendKnop {
    font-weight: normal;
}