body {
  font-family: monospace;
}

h3 {
  font-size: 1.2em;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

table:first-of-type tr:nth-of-type(2) {
  background-color: gold;
}

table:first-of-type tr:nth-of-type(3) {
  background-color: silver;
}

table:first-of-type tr:nth-of-type(4),
table:first-of-type tr:nth-of-type(5) {
  background-color: peru;
}

table:nth-of-type(2) th:first-of-type,
table:nth-of-type(3) th:nth-of-type(2),
table:nth-of-type(3) tr:nth-of-type(2) td:nth-of-type(2) {
  background-color: palegreen;
}

table:nth-of-type(2) th:nth-of-type(2),
table:nth-of-type(3) th:nth-of-type(3),
table:nth-of-type(3) tr:nth-of-type(2) td:nth-of-type(3),
table:nth-of-type(3) tr:nth-of-type(3) td:nth-of-type(2) {
  background-color: lightsteelblue;
}

table:nth-of-type(2) th:nth-of-type(3),
table:nth-of-type(3) th:nth-of-type(4),
table:nth-of-type(3) tr:nth-of-type(2) td:nth-of-type(4),
table:nth-of-type(3) tr:nth-of-type(3) td:nth-of-type(3),
table:nth-of-type(3) tr:nth-of-type(4) td:nth-of-type(2) {
  background-color: lightpink;
}
