body {
  font-family: monospace;
}

h3 {
  font-size: 1.2em;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}


main>table:first-of-type tr:nth-child(2) {
  background-color: gold;
}

main>table:first-of-type tr:nth-child(3) {
  background-color: silver;
}

main>table:first-of-type tr:nth-child(4),
main>table:first-of-type tr:nth-child(5) {
  background-color: peru;
}

main>table:nth-of-type(2) tr:nth-child(1) th:first-of-type,
main>table:nth-of-type(3) tr:nth-child(1) th:nth-of-type(2),
main>table:nth-of-type(3) tr:nth-child(2) td:nth-of-type(2) {
  background-color: palegreen;
}

main>table:nth-of-type(2) tr:nth-child(1) th:nth-of-type(2),
main>table:nth-of-type(3) tr:nth-child(1) th:nth-of-type(3),
main>table:nth-of-type(3) tr:nth-child(2) td:nth-of-type(3),
main>table:nth-of-type(3) tr:nth-child(3) td:nth-of-type(2) {
  background-color: lightsteelblue;
}

main>table:nth-of-type(2) tr:nth-child(1) th:nth-of-type(3),
main>table:nth-of-type(3) tr:nth-child(1) th:nth-of-type(4),
main>table:nth-of-type(3) tr:nth-child(2) td:nth-of-type(4),
main>table:nth-of-type(3) tr:nth-child(3) td:nth-of-type(3),
main>table:nth-of-type(3) tr:nth-child(4) td:nth-of-type(2) {
  background-color: lightpink;
}