/*

/***************/
/* OEFENING 02 */
/***************

Vraag 1:
*******

In onderstaande CSS-code zie je dat de kleur van het element <li class="red">nest 1</li> verschillende keren wordt ingesteld. 
Zoek hieronder zelf alle stijlen op die betrekking hebben op het element (<li class="red">nest 1</li>).
Noteer telkens: kleur - css selector - specificity. Rangschik vervolgens de lijst in dalende volgorde volgens specificity.

Controleer of jouw lijst overeenkomt met deze in de Developer Tools.

<li class="red">nest 1</li>
color:red                                      .red        (0, 1, 0)    de class zelf
color: blue                                    ul li li    (0, 0, 3)    de soort zelf
color:green                                    ul li       (0, 0, 2)    de soort zelf
color:yellow                                   li          (0, 0, 1)    de soort zelf
font-family: monospace, Calibri, sans-serif    body        (0, 0, 1)    parent, 6 verwijderd


Vraag 2: (Multiple choice)
*******
  Beschouw de li-elementen in het nav-element. Hoe krijgen deze elementen hun waarde
  voor de CSS-eigenschap list-style-type?
    1. via de cascade <- deze wnt nav a heeft enkel betrekking op het link gedeelte ervan
    2. via inheritance
    3. ze krijgen hun initial value
  Tip Maak gebruik van de Developer Tools


Vraag 3: (Multiple choice)
*******
  Beschouw het ul-element in het nav-element. Hoe verkrijgt dit element zijn waarde
  voor de CSS-eigenschap list-style-type?
    1. via de cascade
    2. via inheritance
    3. het krijgt zijn initial value <- deze want wordt nergens expliciet ingesteld
  Tip Maak gebruik van de Developer Tools

*/


body{
    font-family: monospace, Calibri, sans-serif;
}

a{
    text-decoration: none;
}

li{
    color:yellow;
}

ul li{
    color: green;
}

.red{
    color:red;
}

ul li li{
    color: blue;
}

aside{
    color: red;
}
ul a{
    color:red;
}
nav a{
    color: yellow;
}
nav a{
    color: blue;
}



