body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: darkcyan;
}

ul {
    list-style-type: none;
}

ul > li:nth-child(2n+1) {
    color: #f1f1f1;
}

ul > li:nth-child(2n) {
    color: grey;
}

h1 ~ figure:first-of-type figcaption {
    color: steelblue;
}

h1 ~ figure:last-of-type figcaption {
    margin-bottom: 0.5em
}
