/* Stel de font-family voor de webpagina in op Arial, Helvetica, sans-serif; */

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* Geef de div.container wat padding: 24px  24px 30px 56px; */
div {
    padding: 24px 24px 30px 56px;
}


/* Maak de h1-elementen groter (4.5em), vetter (900) en zet om naar 
hoofdletters. */
h1 {
    font-size: 4.5em;
    font-weight: 900;
    text-transform: uppercase;
}

/* Stel voor de h2-elementen de font-weight in op 500 en voorzie 
top en bottom marges margin-top: 56px; margin-bottom:30px; */
h2 {
    font-weight: 500;
    margin-top: 56px;
    margin-bottom: 30px;
}

/* ############################## */
/* # Layout van de drie foto's: # */
/* ############################## */

/* eigenlijk voor alle ul */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 0.75rem;
}

img {
    width: 100%;
}

/* ######################## */
/* # Layout van de footer # */
/* ######################## */

nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    column-gap: 0.75rem;
}

.box1,
.box2,
.box3,
.box4 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 48px 1fr;
    gap: 10px;
    padding: 0;
}

.box1 {
    grid-column: 1;
}

.box2 {
    grid-column: 2;
}

.box3 {
    grid-column: 3;
}

.box4 {
    grid-column: 4;
}


h3 {
    font-weight: normal;
    margin: 0%;
    max-width: fit-content;
    max-height: fit-content;
}


h3 + ul {
    line-height: 2;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: black;
    cursor: not-allowed;
}

footer {
    margin: 84px auto 0px auto;
}