.alert {
  padding: 0.75rem 1.25rem;
  margin: 1em 40px;
}

.different-borders {
  padding: 5px;
  border-style: solid;
  border-left-width: 25px;
  border-right-width: 10px;
  border-top-width: 40px;
  border-bottom-width: 20px;
}

.alert-info {
  background-color: rgba(0, 0, 255, 0.2);
  border: 6px solid darkblue;
}

.alert-danger {
  background-color: rgba(255, 0, 0, 0.2);
  border-left: 6px solid red;
}
