/* 
Vul de CSS-file verder aan. Het is bij deze oefening
niet de bedoeling dat je wijzigingen aanbrengt aan de HTML-code
Hou onder andere rekening met onderstaande richtlijnen:
  - Let op de tekstuitlijning van de tabelcellen.
  - Volgende kleuren en tekststylen worden gebruikt:
      tabel
        - [x] tekstkleur: #4a4a4d
      heading table
        - [x] achtergrondkleur: #395870
        - [x] tekstkleur: white
        - [x] lettergrootte: 11 pixels
      achtergrond (gewone) even rijen en laatste rij:  
        - [x] achtergrondkleur: #f0f0f2;
      item-kolomwaarden
        - [x] titel en auteur - tekstkleur #395870;
        - [ ] rest - tekstkleur: #7c7c80, lettergrootte: 12 pixels
      laatste rij:
        - [ ] tekstkleur: #395870; 
        - [ ] vet
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  color: #4a4a4d;
}

tbody tr:nth-child(even),
tfoot tr:last-child {
  background-color: #f0f0f2;
}

th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}

th:first-of-type {
  text-align: left;
}

th:last-child {
  text-align: right;
}

td:last-child {
  text-align: right;
}

tbody td:nth-child(3),
tbody td:nth-child(2) {
  text-align: center;
}

tfoot td {
  text-align: right;
}

thead {
  background-color: #395870;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
}

table strong, tfoot tr:last-child {
  color: #395870;
  font-weight: bold;
}

table span {
  color: #7c7c80;
  font-size: 12px;
}