
body{
    font-family:  monospace;
    font-size: 1.4em;
}

/*Table*/

table { 
  border-collapse: collapse;
}
th, td{ 
    border: 1px solid black;
    padding: 3px 10px;
}

th {
    color: white;
    background-color: black;
}

tbody > tr:nth-child(2) {
    background-color: lightgreen;
}

tbody > tr:nth-child(3) {
    background-color: lightyellow;
}

tbody > tr:nth-child(4) {
    background-color: lightgray;
}

tr > td:first-child {
    width: 150px;
}

tr > td:last-child {
    width: 300px;
}
















